
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto:100,300,700');
@import url('/midProyect/styles/colors.css');
@import url('/midProyect/styles/fonts.css');
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: var(--fondo-);
}
/*Mobil */
@media (max-width: 700px){
    nav{
        background-color: var(--fondo-);
        width: 100vw;
        height: 50px;
        position: fixed;
        display: flex;
        justify-content:center; 
        align-items: end;
        #navbar{
            height: 100%;
            width: 100vw;
            display: flex;
            justify-content: space-between;
            align-items: end;
        img {
            width:50px ;  
            padding-bottom: 1.8vw;
            padding-left: 1vw;      
                }
        ul{
            display: flex;
            justify-content: space-between;
            list-style: none;
            li{
                margin-left: 1.8vw;
                margin-right: 1.8vw;
                font-family: "Roboto";
                font-size: 14px;
                font-weight: 600;
                padding-bottom: 1vw;
                #selected{
                    color:var(--azulfuerte-);
                    }
                a{
                    text-decoration: none;
                    color:var(--letra-);

                    }
            }
        }
        }
    }
    button.blue{
        background-color: var(--azulfuerte-);
        font-family: "Roboto";
        font-size: 16px;
        font-weight: 500;
        border-width: 1vw;
        border-style:solid;
        border-color: var(--azulfuerte-);
        font-family: roboto;
        align-self: flex-end;
        white-space: nowrap;
        a{
            text-decoration: none;
            color: #ffff;
        }
        }
    button.white{
        background-color: var(--fondo-);
        color:var(--letra-) ;
        font-family: "Roboto";
        font-size: 16px;
        font-weight: 500;
        border-width: 1vw;
        border-style:solid;
        border-color: var(--fondo-);
        font-family: roboto;
        align-self: flex-end;
        }
    header{
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 65px;
        section{
            width: 85vw;
            display: flex;
            flex-direction: column;
            justify-content: center;
            #copy{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-content: center;
                width: 90vw;
                margin-top: 4vw;
                margin-bottom: 4vw;
                h1{
                    font-size: 30px;
                    margin-bottom: 2vw;
                }
                p{
                    font-size: 16px;
                    margin-bottom: 5vw;
                }
                h1, p, button{
                    margin-top: 2.5vw;
                }
        
            }
            #foto-cliente{
                width: 70vw;
                height: 78vw;
                background-image: url(/midProyect/project-assets/hero-section/hero-image.png);
                background-size: cover;
                img{
                    width: 20vw;
                    background-color: rgba(0,0,0,0);
                        float: right;
                }
        
            }
        }
    }
    #partners{
        width: 90vw;
        margin-top: 10vw;
        margin-bottom: 10vw;
        margin-left: 5vw;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        background-color: rgba(0,0,0,0);
        img{
            width: 15vw;
            filter: grayscale(100);
        }
    }
    section.triptic{
        h3{
            margin-left: 5vw;
            margin-bottom: 6vw;
            font-size: 20px;
        }
        .items{
            width: 90vw;
            margin-left: 5vw;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            div.article{
                background-color: white;
                width: 28vw;
                height: 55vw;
                display:flex;
                flex-direction: column;
                align-content: space-around;
                justify-content: space-between;
                img{
                    width: 28vw;
                    height: 20vw;
                }
                a{
                    margin: 1vw;                  
                    text-decoration: none;
                    font-size: 14px;
                }
                h5{
                    margin: 1vw; 
                    font-size: 15px;
                }
                p{
                    margin: 1vw; 
                    font-size: 14px;
                }
            }
        }
    }
    #testimonials{ 
        margin-top: 10vw;
        background-color: var(--azuloscuro-);
        background-image: url(/midProyect/project-assets/testimonial-section/orbit.png);
        background-size:contain;
        width: 100vw;
        height: 60vw;
        display: flex;
        flex-direction: row;
        align-content: space-between;
        .emojis{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            img{
                height: 10vw;
                margin: 5vw;
            }
        }
        .comment{
            width: 60vw;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-content: center;
            h3{
                color:#ffff;
                font-size: 16px;
                text-align: center;
            }
            p{
                font-size: 14px;
                text-align: center;
            
            }
            #profile{
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-content: center;
                .profilePic{
                    width: 7vw;
                    height: 7vw;
                    border-radius: 80%;
                    margin-right: 3vw;
                }
                #profileName{
                    width: 20vw;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    align-content: center;
                    caption{
                        p{
                        font-size: 10px;
                        }
                    }
                
                }
            }
        }
    }

    #services{
        margin-top: 10vw;
        .article{
        height: 60vw;
        }
    .serviceIcon{
        width: 8vw;
        height: 8vw;
        border-radius: 100%;
        p{
            font-size: 13px;
        }
    }
    }
    #contactForm{
        margin-top: 10vw;
        width: 100vw;
        height: 70vw;
        background-color: var(--amarillo-);
        display: flex;
        justify-content: center;
        align-content: center;
        div.contain{
            width: 90vw;
            height: 70vw;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-content: center;
        }
        div{
            width: 90vw;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-content: center;
        }
        h3{
            font-size: 20px;
            text-align: center;
        }
        p{
            font-size: 14px;
            text-align: center;
        }
        form{
            display: flex;
            flex-direction: row;
        }
        #email{
            display: flex;
            flex-direction: row;
            background-color: #ffff;
            height: 7.5vw;
            width: 70vw;
            margin-right: 3vw;
            img{
                margin-right: 3vw;
                height: 7.5vw;
            }
            input{
                border: 0px;
            }
        }
    }
    footer{
        margin-top: 10vw;
        display: flex;
        flex-direction: row;
        .adress{
            margin: 5vw;
            display: flex;
            flex-direction: column;
            width: 20vw;
            img {
                width:50px ;  
                padding-bottom: 1.8vw;
                padding-left: 1vw;      
            }
            p{
                font-size: 10px;
            }

        }
        #sitemap{
            margin: 5vw;
            display: flex;
            flex-direction: row;
            width: 65vw;
            .columna{
                width: 22vw;
                height: 15wv;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                p{
                    font-size: 12px;
                }
            }
        }
    }
}


@media (min-width: 701px){
    nav{
        background-color: var(--fondo-);
        width: 100vw;
        height: 70px;
        position: fixed;
        display: flex;
        justify-content:center; 
        align-items: end;
        #navbar{
            height: 50%;
            width: 74vw;
            display: flex;
            justify-content: space-between;
            align-items: end;
        img {
            width:50px ;  
            padding-bottom: 1vw;      
                }
        ul{
            display: flex;
            justify-content: space-between;
            list-style: none;
            li{
                margin-left: 1.8vw;
                margin-right: 1.8vw;
                font-family: "Roboto";
                font-size: 16px;
                font-weight: 500;
                padding-bottom: 1vw;
            }
        
            a{
                text-decoration: none;
                color:var(--letra-);
                }
                .selected{
                    color:var(--azulfuerte-);
                      }
        }
        }
    }    

    button.blue{
        background-color: var(--azulfuerte-);
        font-family: "Roboto";
        font-size: 16px;
        font-weight: 500;
        border-width: 1vw;
        border-style:solid;
        border-color: var(--azulfuerte-);
        font-family: roboto;
        align-self: flex-end;
        white-space: nowrap;
        a
        {
            text-decoration: none;
            color: #ffff;
        }
        }
    button.white{
        background-color: var(--fondo-);
        color:var(--letra-) ;
        font-family: "Roboto";
        font-size: 16px;
        font-weight: 500;
        border-width: 1vw;
        border-style:solid;
        border-color: var(--fondo-);
        font-family: roboto;
        align-self: flex-end;
        }
    header{
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 80px;
        section{
            width: 74vw;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        #copy{
            width: 34vw;
            margin-top: 4vw;
            margin-bottom: 4vw;
            h1, p, button{
                margin-top: 2.5vw;
            }

        }
        #foto-cliente{
            width: 35vw;
            height: 39vw;
            background-image: url(/midProyect/project-assets/hero-section/hero-image.png);
            background-size: cover;
            img{
                width: 20vw;
                background-color: rgba(0,0,0,0);
                    float: right;
            }
        }
    }
    #partners{
        width: 74vw;
        margin: 13vw;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        background-color: rgba(0,0,0,0);
        img{
            width: 7vw;
        }
    }
    section.triptic{
        h3{
            margin-left: 13vw;
            margin-bottom: 6vw;
        }
        .items{
            width: 74vw;
            margin-left: 13vw;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            div.article{
                background-color: white;
                width: 22vw;
                height: 30vw;
                display:flex;
                flex-direction: column;
                align-content: space-around;
                justify-content: space-between;
                img{
                    width: 22vw;
                    height: 15vw;
                }
                a{
                    margin: 1vw;                  
                    text-decoration: none;
                    font-size: 14px;
                }
                h5{
                    margin: 1vw; 
                }
                p{
                    margin: 1vw; 
                }
            }
        }
    }
    #testimonials{ 
        margin-top: 10vw;
        background-color: var(--azuloscuro-);
        background-image: url(/midProyect/project-assets/testimonial-section/orbit.png);
        background-size:contain;
        width: 90vw;
        height: 40vw;
        margin-left: 5vw;
        display: flex;
        flex-direction: row;
        align-content: space-between;
        .emojis{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            img{
                height: 10vw;
                margin: 5vw;
            }
        }
        .comment{
            width: 60vw;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-content: center;
            h3{
                color:#ffff;
                text-align: center;
            }
            p{
                text-align: center;
            }
            #profile{
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-content: center;
                .profilePic{
                    width: 5vw;
                    height: 5vw;
                    border-radius: 80%;
                }
                #profileName{
                    width: 20vw;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    align-content: center;
                    caption{
                        p{
                        font-size: 10px;
                        }
                    }
                
                }
            }
        }
    }

    #services{
        margin-top: 10vw;
        .article{
            height: 35vw;
        }
    .serviceIcon{
        width: 5vw;
        height: 5vw;
        border-radius: 100%;

    }
    }
    #contactForm{
        margin-top: 10vw;
        width: 100vw;
        height: 35vw;
        display: flex;
        justify-content: center;
        align-content: center;
        .contain{
            background-color: var(--amarillo-);
            width: 90vw;
            height: 35vw;
            display: flex;
            flex-direction: column;
            justify-content: space-ecenvenly;
            align-content: center;
        }
        div{
            width: 90vw;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-content: center;
        }
        h3{
            text-align: center;
        }
        p{
            text-align: center;
        }
        form{
            display: flex;
            flex-direction: row;
        }
        #email{
            margin-left: 25vw;
            display: flex;
            flex-direction: row;
            align-items: center;
            background-color: #ffff;
            height: 3.5vw;
            width: 30vw;
            margin-right: 3vw;
            img{
                height: 2.5vw;
            }
            input{
                border: 0px;
            }
        }
    }
    footer{
        margin-top: 10vw;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .adress{
            margin: 5vw;
            display: flex;
            flex-direction: column;
            width: 20vw;
            img {
                width:8vw;     
            }
        }
        #sitemap{
            display: flex;
            flex-direction: row;
            width: 35vw;
            .columna{
                width: 10vw;
                height: 15wv;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
            }

        }
    }
}